<style>

    .commission-form textarea {
    	width: 33%;
    	height: 250px;
    	border: 1px solid black;
    	padding-top: 0;
    }

    input {
    	padding-top: 0;
    }

    #jumbo-center {
    	text-align: center;
    	color:black;
    }

    body {
      background-image: url('/assets/dummy.jpg');
      background-position: fixed;
    }

</style>



<div class="new-form">
  <h3> <%= @artist.full_name if @artist.first_name %></h3>
    <div class="featurette" id="login">
      <%= form_tag commission_artist_path do %>
          <label for="comment">Describe your desired art:</label>
          <textarea name="commission-comment" class="form-control" rows="5" id="comment"></textarea>
          <label for="comment">When do you want it by?</label>
          <input name="commission-due-date" type="date"> </input></br>
          <label for="comment">What are you willing to pay?</label>
          <input name="commission-price" type="text"> </input>
        <div><%= submit_tag 'send commission request' %></div>
      <% end %>
    </div>
    <!-- <p> <% link_to "send commission request", commission_artist_path %></p> -->
</div>


<hr>  


<div class="jumbotron" id="jumbo-center" style="display:none;">
  <h3> <%= @artist.full_name if @artist.first_name %></h3>
	<div class="container fluid">
	  <div class="form-group">
		  <%= form_tag commission_artist_path do %>
		      <label for="comment">Describe your desired art:</label>
		      <textarea name="commission-comment" class="form-control" rows="5" id="comment"></textarea>
		      <label for="comment">When do you want it by?</label>
		      <input name="commission-due-date" type="text"> </input></br>
		      <label for="comment">What are you willing to pay?</label> </br>
		      <input name="commission-price" type="text"> </input>
			  <div><%= submit_tag 'send commission request' %></div>
		  <% end %>
      </div>
	  <!-- <p> <% link_to "send commission request", commission_artist_path %></p> -->
	</div>
</div>



<!-- sample form test...
<form action="/request" method="POST">
  <input type="text" name="my_data">
  <input type=submit>
</form> -->

