<style>

tbody td {
  font-size: 0.9em;
  font-family: helvetica;
}

img {
  width: 300px;
}

table {
  /*width: 100%;*/
  /*border: 1px solid black;*/
}

</style>

<div class="content-container">
<h1>LISTING ALL ARTISTS</h1>
  <% @artists.each do |artist| %>
    <div class="featurette">
      <div class="featurette-image pull-right" > <%= link_to image_tag(artist.image.url, size: "25x150", alt: "Edit Entry"), artist %> </div>
      <h2 class="featurette-heading"><%= artist.full_name if artist.first_name %></h2>
      <p class="lead"><%= artist.email if artist.email  %></p>
      <p class="lead">  <%= artist.artist_type if artist.artist_type %></p>
      <p class="lead"> <%= artist.description if artist.description %></p>
      <hr class="featurette-divider">
    </div>
  <% end %>
</div>






<!-- <h1>listing all artists</h1>
<div class="content-container">
    <div class="page-header">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name </th>
            <th>Email </th>
            <th>Specialty </th>
            <th>Description</th>
            <th>Image</th>
            <th colspan="12"></th>
          </tr>
        </thead>

        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td><%= artist.first_name if artist.first_name %></td>
              <td><%= artist.email %></td>
              <td><%= artist.artist_type %></td>
              <td><%= artist.description %></td>
              <td><%= link_to image_tag(artist.image.url), artist %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>

    <%= link_to 'New artist', new_artist_path %>

    <div class="page-header" style="display:none;">
      <h1>Carousel</h1>
    </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="display:none;">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="width:100%;" role="listbox">
        <div class="item active">
          <img data-src="/assets/5192.jpg" src="/assets/bearcrawl.gif" alt="First slide">
        </div>
        <div class="item">
          <img data-src="/assets/images/5192.jpg" src="/assets/jets.jpg" alt="Second slide">
        </div>
        <div class="item">
          <img data-src="holder.js/1140x500/auto/#555:#333/text:Third slide" src="/assets/5192.jpg" alt="Third slide">
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div> -->

