<div class="content-container">
<h1 class="page-title">your requests</h1>
  <% @messages.each do |message| %>
    <div class="featurette" id="message-list-item">
      <div class="message-list-item-description">
        <h2> Message From:  (ID: <%= link_to message.id, message_path(message) %>) </h2>
        <h2 class="featurette-heading"><%= message.user.first_name if message.user %></h2>
        <p class="lead" style="color:gray;">Comment: <%= message.comment if message.comment  %></p>
        <p class="lead" style="color:gray;">Price: <%= sprintf( "$%.02f" , message.price ) if message.price %></p>
        <p class="lead" style="color:gray;">Due Date: <%= message.due_date if message.due_date %></p>
        <p class="lead" style="color:gray;">
        Accepted:
        <% if message.accepted %>
          yes
        <% else %>
          no
        <% end %>
        </p>
      </div>
    </div>
    <br><hr class="featurette-divider"></br>
  <% end %>
</div>