<style>
  
/*  body {
    background-image: url('/assets/mtn.jpg');
  }*/

  .container-fluid {
    background-image: url('/assets/mtn.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color:#fff;
      background-color:#333;
      font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  }


/*  .container-fluid {
    background-image: url('/assets/nature.jpg');
    background-position: fixed; 
    /*max-width: 100%;*/
  }*/

</style>


<div class="nav nav-pills nav-stacked" style="">

</div>

<div class="jumbotron">
  <h1> <%= @artist.full_name if @artist.first_name %></h1>
  <div class="artist-main-description">
    <p> <%= @artist.email if @artist.email %></p> 
    <p> <%= @artist.description if @artist.description %> </p> 
    <p> <%= link_to @artist.url if @artist.url %> </p> 
    <p div="artist-pic">
      <% image_tag @artist.image.url(:small) if @artist.image %>
    </p>
    <% if @artist == current_artist %>
      <p> <% link_to 'edit profile', edit_artist_path(@artist) %></p>
      <!-- <% link_to 'Destroy', @artist, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
    <% end %>
    <!-- <p> <a href='/artists/"#{@artist.id}"/commission_artist'> commission this artist! </p> -->
    <button type="button" class="btn btn-secondary-outline"><%= link_to "commission this artist!", commission_page_path %></button>
  </div>
</div>


<div class="content container-fluid" style="">
  <% Artwork.all.each do |artwork| %>
    <% if artwork.artist == @artist %>
    <div class="featurette" id="listing-featurette" style="background-color:white; border: 1px solid green;">
      
        <div class="pull-left" id ="artwork-medium"> <%= link_to image_tag(artwork.image.url(:medium)), artwork  %> 
        </div>
        <div id="artist-work-description-box">
          <h3 class="featurette-heading"> <%=artwork.name %></h3>
          <div class="artist-work-description">
            <p id="price">price: <%= sprintf( "$%.02f" , artwork.price )  if artwork.price %> </p>
            <% if artwork.description %>
              <%= artwork.description %>
            <% end %> </p>
            <% if artwork.availability %>
              <p id="available"> Available </p>
            <% else %>
              <p id="sold"> SOLD </p>
            <% end %>
            <% if artwork.artist == current_artist %>
              <%= link_to 'Edit', edit_artwork_path(artwork) %>
              <% link_to 'delete', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></br> </br></br> </br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="featurette-divider"/>    
  <% end %>
</div>


