
    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">


<!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy --><!-- second guy second guy second guy second guy second guy second guy second guy second guy -->
<!-- second guy second guy second guy second guy second guy second guy second guy second guy -->

<div class="" style="margin:5em;">
  <% if @artwork.name  %>
    <div class="show-contents" style="width: 50%; margin-left: 25%">
        <div class="solo-artwork">
          <%= image_tag @artwork.image.url %>
        </div>
    </div>
  <% end %>

  <div class="new-artwork-container">
  <%= form_for(@artwork) do |f| %>
    <% if @artwork.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

        <ul>
        <% @artwork.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>



    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading" style="color:red;">give it a name</h2>
      <p class="lead">all creations need a name</p>
      <div class="field">
        <%= f.text_field :name %>
      </div>
      <div class="field" id="file-upload">
        <%= f.file_field :image %>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="featurette">
      <!-- <img class="featurette-image pull-right" src="../assets/chrome.png"> -->
      <h2 class="featurette-heading">medium</h2>
      <p class="lead">
        <div class="field">
          <% f.text_field :content_type %>
          <%= f.select :content_type, ['painting', 'print', 'video', 'photography', 'mixed media', 'sculpture'] %>
        </div>
      </p>
      <h2 class="featurette-heading">add a description</h2>
      <p class="lead">
        <div class="text-area">
          <%= f.text_area :description, :input_html => { rows: 25 } %>
        </div>
      </p>
      <h2 class="featurette-heading">is it available?</h2>
      <p class="lead">
          <%= f.label :availability, "free to purchase" %>
          <%= f.check_box :availability %>
      </p>
    </div>

    <hr class="featurette-divider">
    <div class="featurette">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>

  <% end %>
  </div>
  <!-- <% link_to 'Back', artworks_path %> -->

</div>



  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2015 Artery &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->


