<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/Users/phillipl/Desktop/rails_sites/arty/app/assets/javascripts/masonry.pkgd.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .container {
    /*border: 2px solid orange;*/
    /*opacity: 0.4;*/
    background-color: rgba(51,204,255,0.1);
  }

  </style>

</head>
<body style="background-color:#EBF3FF;">

  <script> 

    $(document).ready(function() {
      var older = moment([2007, 0, 29]);
      // var b = moment(a).format("YYYYMMDD");


      var newer = moment([2015, 0, 29]);
      // var d = moment(c).format("YYYYMMDD");

      var z = newer.diff(older, 'days');
      // alert(z);

    })

  </script>

<div class="container">
  <div class="top-section">
    <h1 style="float:left;"> Welcome, <%= current_artist.first_name %> </h1>
    <h1 style="float:right;">  
      <a href="/artworks/new"> upload <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> </a>
    </h1>
    <h1> 
  </div>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <h2 class="page-title"> features </h2>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @artworks.each do |artwork| %>
        <% if artwork == Artwork.first %>
          <div class="item active" >
            <a href= <%= embed = "/artworks/#{artwork.id}" %> >
                <img src=<%= artwork.image.url %> style="height:500px;width:auto;">
            </a>
          </div>
        <% elsif %>
          <div class="item" >
            <a href= <%= embed = "/artworks/#{artwork.id}" %> >
              <img src=<%= artwork.image.url %> style="height:500px;width:auto;">
            </a>
          </div>     
        <% end %>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <br><hr class="featurette-divider"></br>
  <h2 class="page-title"> all works of art </h2>

  <div class="remaining-images" style="width:94%;margin-left:3%;">
    <% @artworks.each do |artwork| %>
      <img src=<%= artwork.image.url %> style="height:250px;width:auto;padding:2px;">
    <% end %>
  </div>
</div>



</body>
</html>

