<p id="notice"><%= notice %></p>

<div class="show-contents" style="width: 50%; margin-left: 25%">
  <div class="solo-artwork">
    <%= image_tag @artwork.image.url %>
  </div>

  <hr class="featurette-divider">
  <div class="featurette">
    <div class="featurette-image pull-right" > <%= image_tag(@artwork.artist.image.url, size: "75x400", alt: "Edit Entry") %> </div>
    <h2 class="featurette-heading"><%= @artwork.name %></h2>
    <p class="lead">
      <p>
        <strong>Creator:</strong>
        <%= @artwork.artist.full_name %>
      </p>
      <p>
        <strong>Content type:</strong>
        <%= @artwork.content_type %>
      </p>
      <p>
        <strong>Collection boolean:</strong>
        <%= @artwork.collection_boolean %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @artwork.description %>
      </p>
      <p>
        <% if @artwork.artist == current_artist %>
          <%= link_to 'edit', edit_artwork_path(@artwork) %> |
          <%= link_to 'delete', @artwork, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </p>
  </div>


</div>