<!DOCTYPE html>
<html>
<head>
  <title>Artshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" style="margin-bottom:-20px; padding-bottom:-20px;" href="/artworks"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/artworks">favorites<span class="sr-only">(current)</span></a></li>
        <li><a href="/artists">artists</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if artist_signed_in? %> 
          <!-- <li><a href="#"><% current_artist.first_name %></a></li> -->
          <li> <%= link_to current_artist.first_name, artist_path(current_artist) %> </li>
          <li> <a href="#"> <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></a></li>
          <li> <%= link_to 'Edit Account', edit_artist_path(current_artist) %> </li>
          <li> <%= link_to 'Sign Out', destroy_artist_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to 'Sign In', new_artist_session_path %></li>
        <% end %>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>


</body>
</html>
